:root {
    --background: #F2F2F2;
    --header-background: #00838F;

    --button-background: #2196F3;
    --button--hover-background: #1976D2;

    --input-background: #F2F2F2;
    --footer-background: #4F4F4F;

    --table-background: #FFFFFF;
    --table-hover-background: rgba(33, 150, 243, 0.04);
    --text-dark-color: #4F4F4F;
    --text-black-color: #000000;
    --text-white-color: #FFFFFF;

    --element-background: rgba(0, 0, 0, 0.08);
}